body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 40px;
    background: #f5efef;
}

html {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

* {
    box-sizing: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 100px;
}

.title {
    font-size: 1.7rem;
    color: #666666;
}

.desc {
    font-size: 0.9rem;
    color: #9BC788;
}

#tool {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0, .14);
}

#tool #instruct {
    border: none;
    width: 100%;
    background: #fefefe;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    outline: none;
    font-size: 13px;
    color: #5a6674;
    padding: 10px 15px;
}

.input {
    position: relative;
    width: 300px;
    height: 38px;
    margin: 0 auto;
}

.input #visit {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    top: -7px;
    transition: all .3s;
}

#visit > svg {
    height: 100%;
    width: 100%;
    fill: #E57373;
}

#visit:hover {
    transform: rotate(90deg);
}

#free, #auto {
    background: transparent;
    color: rgba(0,0,0, .55);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: .7rem;
    font-weight: 500;
    transition: all .5s;
}

#free {
    border: 1px solid #0288D1;
}

#free:hover {
    background: #0288D1;
    color: white;
}

#auto {
    border: 1px solid #4CAF50;
}

#auto:hover {
    background: #4CAF50;
    color: white;
}

#auto.active {
    background: #4CAF50;
    color: white;
}

.time {
    color: #333;
    font-size: .75rem;
}

#totaltime {
    padding-right: 20px;
}

.block-box {
    position: relative;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0, .14);
}
.block-box:after {
    content: '';
    display: block;
    clear: both;
}

.block-box .block {
    float: left;
    width: 300px;
    height: 300px;
    transition: all .3s;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 10px;
}

.block .page {
    font-size: 1.6rem;
}

.block-box .block:hover {
    transform: scale(1.3);
}

.block[data-block="0"] {
    background: #3B5998;
}
.block[data-block="1"] {
    background: #4099FF;
}
.block[data-block="2"] {
    background: #c73b6f;
}
.block[data-block="3"] {
    background: #cb2028;
}

.history-message {
    text-align: center;
}

#message-pool {
    margin: 20px auto 0 auto;
    padding: 30px;
    max-width: 600px;
    height: 300px;
    overflow-y: scroll;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0, .3);
}

#message-pool .message {
    font-size: .85rem;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0;
        width: 100%;
    }
    .block-box {
        width: 100%;
    }
    .block-box .block {
        width: 50%;
        height: 50vw;
    }
    #message-pool {
        max-width: calc(100vw - 30px)
    }
}
